body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 3000px;
}

.highcharts-figure {
  margin: 0 auto;
  max-width: 900px;
  min-width: 360px;
}

#container {
  height: 1200px;
}

